# HTTP
PORT=3000

# MongoDB
MONGODB_URI=mongodb://<user>:<password>@127.0.0.1:27017/kalynow-offer-service?authSource=admin

# RustFS / S3 object storage
RUSTFS_ENDPOINT=http://127.0.0.1:9000
RUSTFS_PUBLIC_ENDPOINT=http://127.0.0.1:9000
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=changeme
RUSTFS_BUCKET=kalynow-assets
RUSTFS_REGION=us-east-1
